{{ ansible_managed | comment }}

[AmazonCorretto]
name=Amazon Corretto
baseurl={{ java_corretto_repository | default(_java_corretto_redhat_repository) }}
enabled=1
gpgcheck=1
gpgkey={{ _java_corretto_redhat_repository_gpgkey_url }}
